@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Single+Day&family=Song+Myung&display=swap');
$paper : rgb(234, 255, 233);

.bookList-wrap{
    // border: 3px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 320px;
    min-height: 450px;
    align-content: flex-start;
    position: absolute;
    background-color: white;
    
}
.bookInfo{
    display: block;
    position: absolute;
    width: 140px;
    height: 210px;
    top: 5px;
    left: 5px;
    font-family: 'Dongle', sans-serif;
    
    .bookInfo_title{
        font-size: 2em;
        margin: 10px 0px 50px 0px;
    }
    .bookInfo_to{
        font-size: 1.5em;
    }
    .bookInfo_time{
        font-size: 1.5em;
    }
}

.couponBook-wrap{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 210px;
    border: 1px solid rgba(172, 172, 172, 0.26);
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.bookcover{
    img{
        width: 100%;
        height: 100%;
    }
    p{
        font-size: 50px;
        position: absolute;
        z-index: 9;
        left: 44px;
        top: 15px;
    }
    &:hover{
        cursor: pointer
    }
}
.bookinner{
    width: 100%;
    height: 100%;
    .texture{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
    div{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
        
        
    }
    .coupon-wrap{
        display: inline-block;
        width: 220px;
        height: 290px;
        background-color: white;
        border: 3px solid rgba(250, 168, 225, 0.582);
        margin: 2px;
        text-align: center;
        font-family: 'Song Myung', serif;
        .coupon-flex{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
        .title{
            display: flex;
            width: 100%;
            height: 20%;
            font-size: 20px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
        }
        .image{
            width: 100%;
            height: 45%;
            img{
                height: 100%;
            }
        }
        .content{
            width: 100%;
            height: 30%;
        }
    }
}
